:root {

}
/* Index */
/* Main tags */
body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: 'Roboto', sans-serif;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.button {
    background: #4D5AE5;
    cursor: pointer;
}
.button:hover, .button:focus {
    background: #404BBF;
    cursor: pointer;
}
.caption {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.text {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-heading {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}
/* Navigation bar */
.logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-ending {
    color: #2E2F42;
}
.branches {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.branches:hover, .branches:focus {
    color: #404BBF;
}
.address {
    font-style: normal
}
.contacts {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;;
}
.contacts:hover, .contacts:focus {
    color: #404BBF;
}
/* Hero */
.hero {
    background-color: #2E2F42;
}
.quote {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.order-button {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
/* Team members */
.team {
    background-color: #F4F4FD;
}
.team-member {
    background-color: #FFFFFF;
    text-align: center;
}
/* Footer */
.footer {
    background-color: #2E2F42;
}
.logo-ending-footer {
    color: #F4F4FD;
}
.text-footer {
    color: #F4F4FD;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Portfolio */
.filter-button {
    background: #F4F4FD;
    color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.filter-button:hover, .filter-button:focus {
    background: #404BBF;
    color: #FFFFFF;
}